{% extends "base.html" %}
{% block content %}
<h2>About Us</h2>
<p>We are the group of people, who adores to make and taste a desserts. We try diffrent recepies from all over the
    world. We decided to create that website for sharing our passion with the others. You can JOIN US and try our
    recipes
    or share your own ones!
    Our community of DESSERTS FUNS is getting bigger and bigger!
    Do not hesitate and be part of Sweet Life!
</p>
<hr>
<div class="row featurette">
    <div class="col-md-5">
        <img src="https://images.unsplash.com/photo-1580489944761-15a19d654956?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8d29tYW4lMjBmYWNlfGVufDB8MXwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" alt="woman1">
    </div>
    <div class="col-md-7">
        <h3>Katie Wisconsin</h3>
        <p>"Each time I throw a party Sweet Life is my go-to. I found on the website some of the loveliest dessert
            spreads I have ever seen.
            The recipes will go through every detail with you until it’s just right. Everything is beautiful and
            delicious."</p>
    </div>
</div>
<div class="row featurette">
    <div class="col-md-7">
        <h3>Emmanuel Borowski</h3>
        <p>"Thank you sooooo much for the most delicious muffins!!!! They not only tasted out of this world
            fabulous, they looked wonderful with the custom, hand made butterflies and dragonflies decorations!!!
            When our families saw the them, they jokingly asked if we can have dessert first because they
            remember all the previous wonderful desserts that I made for our birthday dinners!! We enjoyed every
            bite!!!"</p>
    </div>
    <div class="col-md-5">
        <img src="https://images.unsplash.com/photo-1591258739299-5b65d5cbb235?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bWFuJTIwZmFjZXxlbnwwfDF8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" alt="man1">
    </div>
</div>
<div class="row featurette">
    <div class="col-md-5">
        <img src="https://images.unsplash.com/photo-1567532939604-b6b5b0db2604?ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8d29tYW4lMjBmYWNlfGVufDB8MXwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" alt="woman2">
    </div>
    <div class="col-md-7">
        <h3>Laura Knudsen</h3>
        <p>"As soon as I brought out the cake to place on the table, my daughter ran right over. She was speechless
            and it really took her breath away. I will never forger her facial expression, I could barely even make
            out “Is this my cake?” My guests loved it as well, they even made a line to take pictures. The cake was
            just so adorable and too pretty to cut. I really appreciate the time and effort :) THANKS SO MUCH SWEET
            LIFE! :)</p>
    </div>
</div>
<div class="row featurette">
    <div class="col-md-7">
        <h3>Hennry Bigtoe</h3>
        <p>"Where do I begin? Do I call or go anywhere else? Never! Sweet Life is my baking goddess. What would I do
            without all of you guys? Seriously, I have been so blessed by testing your cookies, cakes and muffins.”</p>
    </div>
    <div class="col-md-5">
        <img src="https://images.unsplash.com/photo-1619380061814-58f03707f082?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=687&q=80" alt="man2">
    </div>
</div>
<div class="row featurette">
    <div class="col-md-5">
        <img src="https://images.unsplash.com/photo-1603503345686-bfafb8cfea02?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OTl8fHdvbWFuJTIwZmFjZXxlbnwwfDF8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" alt="woman3">
    </div>
    <div class="col-md-7">
        <h3>Anita Krakowski</h3>
        <p>"I just had to tell you how much I LOVED your cookies. I am a cookie lover, and yours were the ABSOLUTE BEST 
            I’ve ever had. I could make them every day. Really...THE BEST EVER!”</p>
    </div>
</div>
{% endblock %}